@font-face {
	font-display: block;
	font-family: "bw-main-icon";
	src: url("../../fonts/bootstrap-icons.woff2?dd67030699838ea613ee6dbda90effa6") format("woff2"),
  url("../../fonts/bootstrap-icons.woff?dd67030699838ea613ee6dbda90effa6") format("woff");
  }

:root {
	--bw-check-icon-unicode: "\f26b";
	--bw-checkbox-disabled-icon-unicode: "\f28a";
}

.bwi::before,.bwi-social::before { font-family: "bw-main-icon";font-style: normal;}

.bwi-cart::before { content: "\f242";}
.bwi-search::before { content: "\f52A";}
.bwi-cog::before { content: "\f56b";}
.bwi-tag::before { content: "\f5b0";}
.bwi-repeat::before { content: "\f130";}
.bwi-phone::before { content: "\f5c1";}
.bwi-link::before { content: "\f471";}
.bwi-heart::before { content: "\f59d";}
.bwi-star::before { content: "\f588";}
.bwi-info::before { content: "\f434";}
.bwi-gift::before { content: "\f3eb";}
.bwi-eye::before { content: "\f341";}
.bwi-eye-slash::before { content: "\f340";}
.bwi-filter::before { content: "\f3ca";}
.bwi-logout::before { content: "\f308";}
.bwi-download::before { content: "\f30a"}
.bwi-pen::before { content: "\f4c8"}
.bwi-cross::before { content: "\f62a"}
.bwi-check::before { content: "\f26e"}
.bwi-check-circle::before { content: "\f26b"}
.bwi-clock::before { content: "\f293"}
.bwi-at::before { content: "\f152"}
.bwi-arrow-left::before { content: "\f12f"}
.bwi-arrow-top::before { content: "\f148"}
.bwi-arrow-right::before { content: "\f138"}
.bwi-arrow-bottom::before { content: "\f128"}
.bwi-warning::before { content: "\f33b"}
.bwi-menu-bars::before { content: "\f479"}
.bwi-loading::before { content: "\f80d"}
.bwi-user::before { content: "\f4e1"}
.bwi-list::before { content: "\f479"}
.bwi-calendar::before { content: "\f1f6"}

.bwi-pause::before { content: "\f4c4"}
.bwi-play::before { content: "\f4f5";}

/* Social */
.bwi-facebook::before { content: "\f344";}
.bwi-twitter::before,.bwi-social-x::before { content: "\f5ef";}
.bwi-linkedin::before { content: "\f472";}
.bwi-instagram::before { content: "\f437";}
.bwi-whatsapp::before { content: "\f618";}
.bwi-pinterest::before { content: "\f663";}
.bwi-youtube::before { content: "\f62b";}
.bwi-telegram::before { content: "\f5b3";}
.bwi-github::before { content: "\f3ed";}
.bwi-email::before { content: "\f609";}
.bwi-stackoverflow::before { content: "\f667";}
.bwi-dribbble::before { content: "\f65f";}
.bwi-behance::before { content: "\f65c";}
.bwi-skype::before { content: "\f656";}
.bwi-google::before { content: "\f3f0";}
.bwi-vimeo::before { content: "\f66a";}
.bwi-amazon::before { content: "\f68d";}
.bwi-apple::before { content: "\f65b";}