.bwi::before { font-family: "boostrapicons";font-weight:bolder;}

.bwi-cart { content: "\f242";}
.bwi-search { content: "\f52A";}
.bwi-cog { content: "\f56b";}
.bwi-tag { content: "\f5b0";}
.bwi-repeat { content: "\f130";}
.bwi-phone { content: "\f5c1";}
.bwi-link { content: "\f471";}
.bwi-heart { content: "\f59d";}
.bwi-star { content: "\f588";}
.bwi-info { content: "\f434";}
.bwi-gift { content: "\f3eb";}
.bwi-eye { content: "\f341";}
.bwi-eye-slash { content: "\f340";}
.bwi-filter { content: "\f3ca";}
.bwi-logout { content: "\f308";}
.bwi-download { content: "\f30a"}
.bwi-pen { content: "\f4c8"}
.bwi-cross { content: "\f62a"}
.bwi-check { content: "\f26e"}
.bwi-check-circle { content: "\f26b"}
.bwi-clock { content: "\f293"}
.bwi-at { content: "\f152"}
.bwi-arrow-left { content: "\f12f"}
.bwi-arrow-top { content: "\f148"}
.bwi-arrow-right { content: "\f138"}
.bwi-arrow-bottom { content: "\f128"}
.bwi-warning { content: "\f33b"}
.bwi-menu-bars { content: "\f479"}
.bwi-loading { content: "\f80d"}
.bwi-user { content: "\f4e1"}