.bwi::before { font-family: "fontawesome";font-weight:bolder;}

.bwi-cart { content: "\f07a";}
.bwi-search { content: "\f002";}
.bwi-cog { content: "\f013";}
.bwi-tag { content: "\f02b";}
.bwi-repeat { content: "\f01e";}
.bwi-phone { content: "\f095";}
.bwi-link { content: "\f0c1";}
.bwi-heart { content: "\f004";}
.bwi-star { content: "\f005";}
.bwi-info { content: "\f129";}
.bwi-gift { content: "\f06b";}
.bwi-eye { content: "\f06e";}
.bwi-eye-slash { content: "\f070";}
.bwi-filter { content: "\f0b0";}
.bwi-logout { content: "\f08b";}
.bwi-download { content: "\f019"}
.bwi-pen { content: "\f040"}
.bwi-cross { content: "\f00d"}
.bwi-check { content: "\f00c"}
.bwi-check-circle { content: "\f058"}
.bwi-clock { content: "\f017"}
.bwi-at { content: "\f1fa"}
.bwi-arrow-left { content: "\f060"}
.bwi-arrow-top { content: "\f062"}
.bwi-arrow-right { content: "\f061"}
.bwi-arrow-bottom { content: "\f063"}
.bwi-warning { content: "\f071"}
.bwi-menu-bars { content: "\f0c9"}
.bwi-loading { content: "\f110"}
.bwi-user { content: "\f007"}