@font-face {
	font-family: 'bw-main-icon';
	src: url('../../fonts/Linearicons-Free.eot');
	src: url('../../fonts/Linearicons-Free.eot') format('embedded-opentype'),
	url('../../fonts/Linearicons-Free.woff2') format('woff2'),
	url('../../fonts/Linearicons-Free.woff') format('woff'),
	url('../../sfonts/Linearicons-Free.ttf') format('truetype'),
	url('../../fonts/Linearicons-Free.svg') format('svg');
	font-style: normal;
  }

:root {
	--bw-check-icon-unicode: "\e87f";
	--bw-checkbox-disabled-icon-unicode: "\e882";
	
	--bw-loading-icon-unicode: "\e861";
}


.bwi::before { font-family: 'bw-main-icon';font-style:normal;}

.bwi-cart::before { content: "\e74d";}
.bwi-search::before { content: "\e922";}
.bwi-cog::before { content: "\e672";}
.bwi-tag::before { content: "\e755";}
.bwi-repeat::before { content: "\e6ee";}
.bwi-phone::before { content: "\e830";}
.bwi-link::before { content: "\e915";}
.bwi-heart::before { content: "\e68c";}
.bwi-star::before { content: "\e68d";}
.bwi-info::before { content: "\e7bc";}
.bwi-gift::before { content: "\e7ff";}
.bwi-eye::before { content: "\e6a5";}
.bwi-eye-slash::before { content: "\e6a6";}
.bwi-filter::before { content: "\e927";}
.bwi-logout::before { content: "\e6d3";}
.bwi-download::before { content: "\e8f3"}
.bwi-pen::before { content: "\e60d"}
.bwi-cross::before { content: "\e92a"}
.bwi-check::before { content: "\e934"}
.bwi-check-circle::before { content: "\e87f"}
.bwi-clock::before { content: "\e8e6"}
.bwi-at::before { content: "\e695"}
.bwi-arrow-left::before { content: "\e943"}
.bwi-arrow-top::before { content: "\e941"}
.bwi-arrow-right::before { content: "\e944"}
.bwi-arrow-bottom::before { content: "\e942"}
.bwi-warning::before { content: "\e955"}
.bwi-menu-bars::before { content: "\e92b"}
.bwi-loading::before { content: "\e8d0"}
.bwi-user::before { content: "\e71e"}
.bwi-email::before { content: "\e818";}

/* Social */
/*.bwi-social::before { font-family: "fontawesome";}*/

.bwi-facebook::before { content: "\f09a";}
.bwi-twitter::before,.bwi-x::before { content: "\f099";}
.bwi-linkedin::before { content: "\f0e1";}
.bwi-instagram::before { content: "\f16d";}
.bwi-whatsapp::before { content: "\f232";}
.bwi-pinterest::before { content: "\f0d2";}
.bwi-youtube::before { content: "\f167";}
.bwi-telegram::before { content: "\f2c6";}
.bwi-github::before { content: "\f09b";}
.bwi-stackoverflow::before { content: "\f16c";}
.bwi-dribbble::before { content: "\f17d";}
.bwi-behance::before { content: "\f1b4";}
.bwi-skype::before { content: "\f17e";}
.bwi-google::before { content: "\f1a0";}