[header]
<!-- Body -->
<table border="0" cellpadding="0" cellspacing="0" width="510" id="template_body" style="width:602px;">
    <tbody>
        <tr>
            <td valign="top" id="body_content" style="background-color: #fdfdfd;" bgcolor="#fdfdfd">
                <!-- Content -->
                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding: 48px 48px 32px; padding-left: 19px; padding-right: 19px; padding-top: 26px; padding-bottom: 31px;">
                                <div id="body_content_inner" style="text-align:center;line-height: 150%;font-size: 14px;color: #3f3f3f;" align="right">
                                    <a href = '[buy-btn-link]'><img src="[product-image]" alt = 'صورة المنتج' height = '150'/></a>
                                    <a href = '[buy-btn-link]'><p style="margin: 0 0 16px;">[product-name]</p></a>
                                    <p style = 'margin: 50px 0 0px;color:#DC3545;font-size:19px;font-weight:bolder;'>[product-price]</p>
                                    <a href="[buy-btn-link]" style = 'text-decoration:none;color:#FFF;background:#01aeef;padding:10px 20px;border-radius:10px;margin:25px 0;display:inline-block;'>الشراء الأن</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- End Content -->
            </td>
        </tr>
    </tbody>
</table>
<!-- End Body -->
[footer]